.recipe-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 50px;
}

.recipe-item {
    text-align: center;
}


.recipe-item img {
    height: 200px;
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1); /* Add box shadow effect */
    position: relative;
}

header {
    background-color: #a3e6c0;
    padding: 10px;
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: orange;
}


body {
    margin: 0;
    padding: 0;
    background-color: #a3d5e6;
}

main {
    padding: 16px;
}

footer {
    background-color: #a3e6c0;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #c70b95;
}

img {
    height: 200px;
    width: 100%
}

nav {
    border-bottom: 4px solid rgb(13, 231, 13);
    padding: 16px;
}


.transition-box {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 200px;
    transition: all 0.3s ease; /* Apply transition to all properties over 0.3 seconds with ease timing function */
}

.transition-box:hover {
    background-color: #e74c3c;
    width: 250px;
    height: 250px;
}
